/* h1 {
  text-align: center;
  display: inline-block;
}
span {
  font-size: 30px;
  text-align: center;
  display: block;
} */

h1 {
  display: inline-block;
}

ul li {
  display: inline;
}
.p1 {
  border: 5px solid red;
  max-width: 400px;
  margin: auto;
}

.p2 {
  border: 3px solid green;
  max-width: 400px;
  margin: auto;
}
.p3 {
  border: 4px solid yellowgreen;
  max-width: 300px;
  max-height: 200px;
  margin: auto;
  overflow: auto;
}
