* {
  margin: 0;
  padding: 0;
  /* box sizing babohar kori jototuku dorkar tototukui nibai */
  box-sizing: border-box;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main {
  width: 80%;
  margin: 10px auto;
  border: 4px solid green;
  color: whitesmoke;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 60px 100px 200px 60px;
  /* grid-template-columns: repeat(3, 1fr) 150px; */
  grid-template-columns: 100px 150px;
}
.box1 {
  background-color: #fda7df;
  grid-column: 1/-1;
}
.box2 {
  background-color: #c4e538;
}
.box3 {
  background-color: #ed4c67;
}
.box4 {
  background-color: #a3cb38;
}
.box5 {
  background-color: #ee5a24;
  grid-row: 2/4;
  grid-column: 4/5;
}
.box6 {
  background-color: #5758bb;
  /* grid-column: 1 / span4; */
  grid-column: 1/4;
}
.box7 {
  background-color: #f79f1f;
  grid-column: 1/-1;
}
