.gradient {
  height: 300px;
  width: 400px;
  /* 70% makes opecity */
  background: linear-gradient(rgba(255, 0, 0) 70%, green);
}
.gradient2 {
  height: 300px;
  width: 400px;
  /* 70% makes opecity */
  /* ew can use to left top or 45deg */
  background: linear-gradient(to left top, rgba(255, 0, 0) 70%, green);
}
.gradient3 {
  height: 300px;
  width: 400px;
  /* 70% makes opecity */
  /* ew can use to left top or 45deg */
  background: radial-gradient(#e66465, #9198e5);
}
