.opecity {
  height: 300px;
  width: 400px;
}
img:hover {
  opacity: 0.7;
}
.bg1 {
  background: url(icon/10.jpg) no-repeat center;
  height: 300px;
  width: 400px;
  overflow: hidden;
}
p {
  font-size: 30px;
}
.box p {
  text-align: center;
  background-color: rgb(219, 228, 225);
  margin-top: 100px;
  opacity: 0.5;
}
