ul {
  /* list-style-type: decimal;
  list-style-position: inside;
  list-style-image: url(122.jpg); */
  list-style: upper-roman inside url();
}
table,
th,
td {
  border: 5px solid tomato;
  border-collapse: collapse;
  text-align: center;
}
table {
  width: 100%;
}
th,
td {
  color: blue;
}
