h1 {
  color: salmon;
  background-color: black;
}
h2 {
  color: springgreen;
}
pre {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}
p {
  text-indent: 10px;
  color: blue;
  text-transform: capitalize;
  /* text-transform: lowercase;
  text-transform: uppercase; */
  line-height: 30px;
  word-spacing: 15px;
  letter-spacing: 8px;
}
