.shaon {
  width: 400px;
  height: 500px;
  background-color: aqua;
  border: 10px solid violet;
  margin: 50px 100px 150px 150px;
}
.p1 {
  margin: 50px;
  border: 5px solid pink;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: 10px solid burlywood;
  /* outline-style: solid;
  outline-width: 10px;
  outline-color: rgb(243, 146, 18);*/
  outline-offset: 10px;
}
