* {
  margin: 0;
  padding: 0;
}

div {
  height: 100px;
  width: 200px;
  margin: 25px;
  padding: 25px;
  display: inline-block;
}
#a {
  /* display: none; */
  /* visibility: hidden; */
  /* alpha create opecity */
  background-color: rgba(0, 0, 255, 0.5);
}
