body {
  text-align: center;
}

div {
  height: 100px;
  /* width: 250px; */
  width: 50px;
  display: inline-block;
  border: 4px solid black;
}
#container {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* align-content: flex-start; */
  align-items: flex-start;
  /* align-content: flex-start; */
}

#box-1 {
  background-color: aqua;
  /* grow box then box-2 twise */
  flex-grow: 2;
}
#box-2 {
  background-color: brown;
  height: 200px;
  /* flex-shrink: 2; */
  /* flex-shrink: 0.5; */
  flex-grow: 1;
}
#box-3 {
  background-color: chartreuse;
}
#box-4 {
  background-color: turquoise;
}
#box-5 {
  background-color: tomato;
  /* align-self: flex-end; */
}
