.navbar {
  background-color: pink;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: chocolate;
  background-color: wheat;
}
li {
  list-style-type: none;
  display: inline;
}
.outer {
  background-color: cornflowerblue;
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  background-color: darksalmon;
  height: 100px;

  width: 100px;
  border-radius: 100%;
  /* its has higer priority than align items */
  /* align-self: flex-start; */
}
